$primary   : #00AAFF;
$secondary : #A1A1A1;
$accent    : #FE7000;

$dark      : #000000; //#272727;
$dark-page : #000000;

$positive  : #59D952;
$negative  : #E76A5A;
$info      : #1CDCDB;
$warning   : #D2D205;
